html {
  background: url(images/pozadi.png) no-repeat center center fixed;
}

#canvas {
  background: url('images/plan.png');
  border: none;
  max-width: 100vw;
}

#game {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

body {
  padding: 5px;
  margin: 0;
  color: white;
  font-family: 'Press Start 2P', cursive;
  width: 100%;
}

header {
  margin: 20px auto 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 30px;
  margin-right: 10px;
}

#score,
#time {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #0d4c7f;
  margin: 0 15px 0 15px;
}

#scorebox {
  display: flex;
  justify-content: center;
}

#end {
  width: 60%;
  border-radius: 10px;
  padding: 2rem;
  color: white;
  background-color: #28529d;
  border: 5px solid #ffc04b;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

#start {
  width: 60%;
  border-radius: 10px;
  padding: 2rem;
  color: white;
  background-color: #28529d;
  border: 5px solid #ffc04b;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#start img {
  width: 50%;
  display: block;
  margin: 6px auto;
}

#start p {
  font-size: large;
  font-family: 'Open sans';
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 60px;
  border: 5px solid #ffc04b;
  font-family: 'Bitter', serif;
  color: white;
  background: linear-gradient(to bottom, #275786, #0e234d);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

video {
  max-width: 90%;
  padding: 10px;
}

#ArrowUp img,
#ArrowLeft img,
#ArrowDown img,
#ArrowRight img {
  width: 50px;
  padding: 5px;
}

#ArrowUp img {
  transform: rotate(270deg);
}
#ArrowDown img {
  transform: rotate(90deg);
}

#ArrowLeft img {
  transform: rotate(180deg);
}

#firstRow {
  padding: 10px 0 10px 0;
}

#arrows {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
